@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B2540;
  color: #ffffff;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B2540; 
}
::-webkit-scrollbar-thumb {
  background: #0e3053; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0F9E8F; 
}
